.slider {

  &__img {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &_html {
      background-image: url(../../../../img/skills/htmlIcon.png);
    }
    &_css {
      background-image: url(../../../../img/skills/cssIcon.png);
    }
    &_js {
      background-image: url(../../../../img/skills/jsIcon.webp);
    }
    &_react {
      background-image: url(../../../../img/skills/React-icon.png);
    }
    &_git {
      background-image: url(../../../../img/skills/githab.svg);
    }
    &_npm {
      background-image: url(../../../../img/skills/npm.png);
    }
    &_bootstrap {
      background-image: url(../../../../img/skills/bootstrapIcon.png);
    }
    &_mui {
      background-image: url(../../../../img/skills/muiIcon.png);
    }
    &_antd {
      background-image: url(../../../../img/skills/antdIcon.png);
    }
  }
}