* {
  box-sizing: border-box;
}

button {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
}
 
body {
  margin: 0;
  height: 100%;
  background: #1F1F1F;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  min-width: 375px;
  padding: 30px 30px;
}

@media screen and (min-width: 991px) {
  .container__lt {
    padding: 30px 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container__lg {
    padding: 30px 100px;
  }
}