.projects {
  &__title {
    font-weight: 600;
    font-size: 41.9149px;
    line-height: 63px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0 0 20px;
  }
  &__pic {
    width: 100%;
  }
}