.header {
  padding-bottom: 60px;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__navBox {
      position: relative;
      &__burger {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 0;
        position: absolute;
        right: 0;
        top: -10px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        & span {
          background: #fff;
          transition: all 1.5s;
          height: 2px;
          width: 20px;
        }
      }
      &__burgerActive {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 0;
        z-index: 3;
        position: fixed;
        right: 30px;
        top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        & span {
          height: 2px;
          width: 20px;
          background: #1F1F1F;
          transition: all 1.5s;
          &:first-child {
            transform: translateY(13px) rotate(45deg);
          }
          &:nth-child(2) {
            transition: all 0s;
            width: 0;
          }
          &:last-child {
            transform: translateY(-5px) rotate(-45deg);
          }
        }
      }
      &__menu {
        padding: 100px 0;
        width: 40vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: fixed;
        z-index: 2;
        right: 0px;
        top: 0px;
        background-color: #ECE6CD;
        transition: 1.5s;
        &_close {
          padding: 100px 0;
          width: 30vh;
          height: 100vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          position: fixed;
          z-index: 2;
          right: -30vh;
          top: 0px;
          background-color: grey;
          transition: 1.5s;
        }
      }
      &__link {
        color: #1F1F1F;
        width: 30vh;
        text-align: center;
      }
    }
  }
  &__photo {
    background-image: url(../../../../img/photo.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    top: 0;
    right: 0;
    left: 0;
    margin: 50px auto;

  }
  &__textBlock {
    margin-top: 50px;
    text-align: center;
    &__greetings {
      margin-bottom: 10px;
      font-weight: 300;
      font-size: 17.4609px;
      line-height: 26px;
      letter-spacing: 0.36em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    &__name {
      margin: 0;
      font-weight: 600;
      font-size: 33.4016px;
      line-height: 50px;
      color: #FFFFFF;
    }
    &__jobTitle {
      margin-top: 0;
      margin-bottom: 40px;
      font-weight: 300;
      font-size: 13.6701px;
      line-height: 21px;
      letter-spacing: 0.015em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    &__cvBtn {
      padding: 12px 30px;
      border: 0;
      background: linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%);
      border-radius: 7px;
      font-weight: 400;
      font-size: 17.4609px;
      line-height: 26px;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      color: #FFFFFF;
      transition: 0.4s;
      &:hover {
        font-weight: 600;
        background: linear-gradient(180deg, #15a9a9 0%, #2d17bd 100%);
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .header {
    grid-column: 1 / 2;
    &__box__navBox {
      display: none;
    }
  }
}